<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tutorg"
        tools:targetApi="31">
        <activity
            android:name=".tutor_info.TutorEdit"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".chat.UserChat"
            android:exported="false" />

        <activity
            android:name=".chat.ChatMessaging"
            android:exported="false" />

        <activity
            android:name=".UserEdit"
            android:exported="false" />
        <activity
            android:name=".tutor_info.TutorInfoPage"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="true" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="Tutorg" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>